.main{
     margin: 20px;
}
.search-container{
     
     text-align: center;
     padding-bottom: 10px;
     
 }
 .search-container input{
     height: 30px;
     width: 75%;
     font-size: 25px;
     border:2px solid tomato;

     padding: 10px;
 }
.food{
     display: grid;
     grid-template-columns: 3fr 1fr;
     grid-gap: 10px;
     margin: 20px;
}

.foods-container{

     border-right: 1px solid black;
}

.food-count{
background-color: salmon;
padding: 20px;
height: 300px;
}